body{
    background: #161616; 
    
    overflow-x: hidden;

    padding: 0;
    margin: 0;

    color: white;
    font-family: roboto;

    letter-spacing: 0.8px;
}

.mobile{
    display: none;
}

a{
    color: #ee7e7e;
    font-weight: bold;
}

.nav{
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #161616; 

    box-shadow: 0px 1px 0px 0px  white ;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    height: 85px;
}

.nav p{
    transition: 0.1s;

    font-size: 19px;

    color: rgb(255, 255, 255);

    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav p:hover{
    text-underline-offset: 6px;
    cursor: pointer;
}

.nav p:active{
    color: #ee7e7e;
}

.presentation{
    width: 100%;
    margin: 0;
    padding-top: 30px;
    
    display: flex;
    justify-content: center;
    gap: 140px;

    align-items: center;
}

.presentation_text{
    width: 550px;
    
    padding-left: 30px;
    padding-right: 25px;
    
    box-shadow: 4px 4px 0vw 0vw #ffffff;
}

.presentation_text h1{
    font-size: 56px;
}

.presentation_text h1 b{
    font-weight: 700;
    color: #ee7e7e;
}

.presentation_text p{
    font-size:26px;
    margin-bottom: 40px;

    color: gray;
}

.character_container img{
    height: 430px;
    background: linear-gradient(120deg, #000069, #1dc0ed);

    border-radius: 15% 85% 50% 50% / 50% 50% 50% 50%;

    margin-top: 50px;
    margin-bottom: 40px;
}

.frenchdev{
    font-size: 21px;

    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frenchdev h1{
    margin-bottom: 0;
}

.frenchdev p{
    margin-top: 5px;
    color: gray;
}

.frenchdev img{
    height: 135px;
}

.games-display{
    width: 1200px;

    display: flex;
    margin: auto;

    margin-bottom: 100px;
}

.games-button{
    height: 430px;
    width: 60px;

    padding: 0;
    
    border: none;
    outline: 2px solid white;

    transition: 0.25s;

    background: #161616; 
}

.games-button:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.games-button:hover img{
    transition: 0.25s;
    filter: brightness(0.15);
}

.games-button:active{
    background-color: #161616;
}

.games-button:active img{
    transition: 0.25s;
    filter: brightness(1);
}

.games-button img{
    height: 30px;
}

#left{
    border-radius: 30px 0 0 30px;
}

#left2{
    display: none;
}

#right{
    border-radius: 0px 30px 30px 0px;
}

#right img{
    rotate: 180deg;
}

.games_container{
    height: 430px;
    width: 1080px;

    overflow: hidden;

    display:flex;
    flex-direction: column;
    align-items: center;

    outline: 2px solid white;

    background: #161616; 
}

.game{
    display: flex;
    justify-content:space-between;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    margin-top: 30px;

    width: 1020px;
    height: 350px;
}

.game.active{
    opacity: 1;
}

.game_presetation{
    width: 590px;
    font-size: 20px;
    margin-left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.game_presetation p{
    text-align: justify;
    line-height: 1.3em;
    width: 100%;

    margin: 0;
}

.game_presetation img{

    height: 65px;
    margin: auto;
    margin-bottom: 20px;
}

.game iframe{

    margin-top: auto;

    width: 410px;
    height: 230.6px;

    border-radius: 20px;

    box-shadow: -4px 4px 17px 6px #000000;

    pointer-events: none;
}

#loop_express img{
	width: 600px;
    height: auto;
	margin: 0;
	margin-right: -50px;
	margin-top: -30px;
	margin-bottom: -15px;
}

.model_pres{
    width: 1200px;
    height: 260px;

    margin: auto;
    margin-bottom: 40px;

    border-radius: 30px;

    background-image: url("images/making_of.png");
    background-size: cover;
    background-position: 0 -100px;

    display: flex;
    flex-direction: column;
}

.model_pres h1{
    margin-left: 400px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 75px;
}

.model_pres p{
    margin: 0;
    margin-left: 400px;
    font-size: 22px;
}

.models{
    width:1200px;
    margin: auto;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: 590px 590px ;
    grid-template-rows: 370px 370px;
    gap: 0px 20px;
    
    align-items: center;
}

.models div{
    transition: ease-in-out 0.25s;
    width: 100%;
    height: 310px;

    background-position: center;
    background-size: cover;
}

.models div:hover{
    height: 390px;
}

#model1{
    background-image: url("images/animal.png");
}

#model1:hover{
    background-image: url("images/animal.gif");
}

#model2{
    background-image: url("images/baleine.png");
}

#model3{
    background-image: url("images/monster.png");
}

#model3:hover{
    background-image: url("images/monster.gif");
}

#model4{
    background-image: url("images/low_poly.png");
}

@media only screen and (max-width: 1300px) {
    .presentation{
        gap: 120px;
    }

    .presentation_text{
        width: 455px;
        
        padding-left: 20px;
        padding-right: 20px;
        
        box-shadow: 4px 4px 0vw 0vw #daeaff;
    }
    
    .presentation_text h1{
        font-size: 50px;
    }
    
    .presentation_text p{
        font-size:23px;
        margin-bottom: 30px;
    }

    .character_container img{
        height: 360px;
    }

    .frenchdev{
        font-size: 19px;
    }
    
    .frenchdev img{
        height: 125px;
    }

    .games-display{
        width: 990px;

        margin-bottom: 80px;
    }

    .games-button{
        width: 50px;
    }
    
    .games_container{
        width: 890px;
        gap: 55px;
    }
    
    .game{
        margin-top: 35px;

        width: 850px;
        height: 330px;
    }
    
    .game_presetation{
        width: 460px;
        font-size: 18px;

        justify-content: space-evenly;
    }
    
    .game iframe{
        width: 370px;
        height: 208.1px;
    }

    #hellvolution img{
        width: 400px;
        height: auto;
    }

	#loop_express img{
		width: 520px;
		margin-right: 0px;
		margin-top: -35px;
		margin-bottom: -15px;
	}

    .band{
        transform: translate(200px, 200px);
    }

    .band.thin{
        transform: translate(200px, 400px);
    }

    .model_pres{
        width: 990px;
        height: 240px;
        background-position: 0 -65px;
    }
    
    .model_pres h1{
        margin-top: 55px;

        font-size: 65px;
    }

    .model_pres p{
        font-size: 20px;
    }
    
    .models{
        width:990px;

        grid-template-columns: 485px 485px ;
        grid-template-rows: 340px 340px;
    }
    
    .models div{
        height: 270px;
    }
    
    .models div:hover{
        height: 360px;
    }
}

@media only screen and (max-width: 1050px) {
    .presentation{
        gap: 30px;
    }

    .presentation_text{
        width: 435px;
        
        padding-left: 20px;
        padding-right: 0px;
        
        box-shadow: 4px 4px 0vw 0vw #daeaff;
    }
    
    .presentation_text h1{
        font-size: 42px;
    }
    
    .presentation_text p{
        font-size:20px;
        margin-bottom: 30px;
    }

    .character_container img{
        height: 310px;
    }
    
    .frenchdev{
        font-size: 17.5px;
    }
    
    .frenchdev img{
        height: 110px;
    }

    .games-display{
        width: 810px;

        display: flex;
        flex-direction: column;
    }

    .games-button{
        height: 680px;
    }
    
    .games_container{    
        width: 810px;
        height: 650px;
    }
    
    .game{
        width: 92%;
        height: 680px;

        margin-bottom: 20px;

        gap: 15px;

        flex-direction: column-reverse;
        align-items: center;
    }
    
    .game_presetation{
        width: 100%;
        font-size: 17px;

        line-height: 1em;
    }

	.game_presetation p{
        text-align: center;
    }

    .game_presetation img{
        height: 85px;
    }

    #hellvolution img{
        width: 490px;
        height: auto;
    }

	#loop_express img{
		width: 610px;
		margin: 0;
		margin-top: -35px;
		margin-bottom: -10px;
	}
    
    .game iframe{
        width: 500px;
        height: 281.25px;

        margin: auto;
    }

    .buttons{
        display: flex;
    }

    .games-button{
        height: 70px;
        width: 405px;
    }

    #left{
        display: none;
    }

    #left2{
        display: block;
        border-radius: 0 0 0 30px;
    }

    #right{
        border-radius: 0 0 30px 0;
    }

    .model_pres{
        width: 810px;
        height: 240px;

        background-position: 0 -45px;
    }
    
    .model_pres h1{
        margin-left: 330px;
        margin-top: 65px;
        margin-bottom: 25px;
        font-size: 50px;
    }

    .model_pres p{
        margin-left: 330px;
        font-size: 19px;
    }
    
    .models{
        width:810px;
    
        grid-template-columns: 398px 398px ;
        grid-template-rows: 290px 290px;
        gap: 0px 14px;
    }
    
    .models div{
        height: 240px;
    }
    
    .models div:hover{
        height: 300px;
    }
}

@media only screen and (max-width: 855px) {
    .presentation_text
    {
        width: 380px;
    }
    
    .games-display{
        width: 740px;
    }

    .games_container{    
        width: 740px;
    }

    .games-button{
        height: 70px;
        width: 375px;
    }

    .model_pres{
        width: 740px;
        height: 240px;
        
        background-position: 0 -20px;
    }

    .model_pres h1{
        margin-left: 270px;
        margin-top: 70px;
    }

    .model_pres p{
        margin-left: 270px;
        font-size: 18px;
    }
    
    .models{
        width:740px;
    
        grid-template-columns: 363px 363px ;
        gap: 0px 14px;
    }
}


@media only screen and (max-width: 768px) {
    .mobile{
        display: block;
    }

    .nav{
        height: 75px;
    }

    .nav p{
        font-size: 17px;
    }
    
    .presentation{
        display: grid;
        gap: 0;

        padding: 0;

        margin-bottom: 65px;
    }

    .presentation_text{
        width: auto;
        box-shadow: none;

        padding: 0;

        text-align: center;
    }

    .presentation_text h1{
        font-size: 52px;
        margin-bottom: 10px;
    }

    .presentation_text p{
        font-size:25px;
        margin-bottom: 0;
    }

    .games-display{
        width: 90%;
        margin-bottom: 55px;
    }

    .character_container{
        display: flex;
        justify-content: center;
    }

    .character_container img{
        height: 65vw;
        margin: 5% 0 0 0;
    }

    .frenchdev{
        font-size: 2.5vw;
        flex-direction: column;

        margin-bottom: 10vw;
    }

    .frenchdev p{
        font-size: 3vw;
    }
    
    .frenchdev img{
        height: 21vw;
        padding: 0;
    }
    
    .games-display{
        flex-direction: rox;
        height: auto;
    }

    .games_container{
        width:100%;
        height: auto;
        gap: 0;
    }

    .game{
        width:100%;
        height: auto;

        margin: auto;

        flex-direction: column-reverse;
        align-items: center;

        gap: 20px;

        border-radius: 0;
    }

    .game iframe{
        width: 80%;
        height: auto;

        border-radius: 5vw;

        margin-bottom: 5vw;

        aspect-ratio: 16 / 9;

        display: block;
    }

    .game_presetation{
        width: 100%;
        margin-left: 0;

        font-size: 16px;
    }

    .game_presetation p{
        margin-left: 3vw;
        margin-right: 3vw;
        width: 90%;
    }

    .game_presetation ul{
        width: 85%;
    }

    .game_presetation img{
        width: auto;
        height: 15vw;
        max-width: 90%;
        margin-top: 3vw;

        display: block;
    }

    .games-button{
        height: 60px;
    }

    #hellvolution .game_presetation img{
        width: 80vw;
        height: auto;
    }

	#loop_express img{
		width: 580px;
		height: auto;
		margin: 0;
		margin-left: 29px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

    .model_pres{
        width: 90%;
        height: 38vw;

        background-position: 0 0vw;
    }
    
    .model_pres h1{
        margin-left: 25vw;

        margin-top:15vw;
        margin-bottom: 10px;
        font-size: 42px;
    }

    .model_pres p{
        margin-left: 25vw;  
        font-size: 15px;
    }
    
    .models{
        width: 90%;
    
        display: flex;

        flex-direction: column;

        gap: 20px;
    }
    
    .models div{
        height: 200px;
        width: 100%;
    }
    
    .models div:hover{
        height: 320px;
    }
}

@media only screen and (max-width: 560px) {
    .frenchdev{
        font-size: 10.5px;
    }
    
    .presentation_text h1{
        font-size: 42px;
    }
    
    .presentation_text p{
        font-size:20px;
    }

    .game_presetation{
        font-size: 15px;
    }

    .games-button{
        height: 50px;
    }

    .band{
        transform: translate(200px, 300px);
    }

    .band.thin{
        transform: translate(200px, 500px);
    }

    .model_pres{
        align-items: center;
        justify-content: center;
    }

    .model_pres h1{

        margin-top: 0px;
        margin-left: 0;
    }

    .model_pres p{
        margin-left: 0;  
    }

}


@media only screen and (max-width: 440px) {

    .frenchdev{
        font-size: 8px;
    }

	.model_pres h1{

        font-size: 30px;
    }

	.model_pres p{
        font-size: 12px;
    }
}


@media only screen and (max-width: 350px) {

    .frenchdev{
        font-size: 7px;
    }

}


