main{
    width: 1060px;
    margin: 0 auto;
    background: #161616; 
    box-shadow: 0px 0px 20px 1px #000000; 
}

body{
    background: #202020;

    padding: 0;
    margin: 0;

    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.presentation{
    background: #161616; 
    width: 840px;

    margin-left: 105px;

    padding-top: 30px;

    display: flex;
    gap:30px;

    align-items: center;
}

.presentation_text h1{
    font-size: 42px;
}

.presentation_text{
    width: 400px;

    font-size:30px;

    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 2px 2px 0vw 0vw #daeaff;
}

.presentation_text p{
    font-size:20px;
    margin-bottom: 40px;
}

.presentation_text p{
    color: gray;
}

.character_container img{
    height: 320px;
    background: linear-gradient(120deg, #000046, #1cb5e0);
    box-shadow: 15px 7.5px 0px 0px #daeaff;
    border-radius: 15% 85% 50% 50% / 50% 50% 50% 50%;

    margin-top: 50px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

    height: 80px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.choice button{
    height: 60px;
    width: 200px;

    border-radius: 30px;
    background-color: transparent;
    border: 2.5px solid white;

    color: white;
    font-size: 20px;

    box-shadow: 0px 0px 15px 0px #1d5399;
}

.choice button:hover{
    color: #161616;
    background-color: white;
    transition: 0.25s;
}

#modelisation{
    display: none;
}

.frenchdev{
    font-size: 16px;

    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frenchdev img{
    height: 100px;
    padding-left: 10px;
}

.games_container{
    display:flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    padding-bottom: 50px;
}

.game{
    width: 840px;
    height: 169px;

    display: flex;
    justify-content:center;
}

.game_presetation{
    width: 630px;
    font-size: 18px;
    margin-left: 30px;
}

.game_presetation p{
    text-align: justify;
}

.game_presetation img{
    display: block;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.game iframe{
    width: 420px;
    height: auto;

    border-radius: 20px;
}

@media only screen and (max-width: 1060px) {
    main{
        width: 100%;
    }
    
    .presentation{
        width: 80%;
    
        margin-left: 10%;
    
        padding-top: 3vw;
    }
    
    .presentation_text{
        width: 45%;
    
        font-size:35px;
    
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .presentation_text p{
        font-size:19px;
        margin-bottom: 40px;
    }
    
    .character_container img{
        height: 30vw;
        box-shadow: 1.5vw 0.75vw 0vw 0vw #daeaff;
    
        margin-top: 10%;
        margin-right: 1.5vw;
        margin-bottom: 10%;
    }
    
    .choice{
        gap: 15vw;
    
        width: 100%;
        height: 8vw;
    
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    .choice button{
        height: 6vw;
        width: 20vw;
    
        border-radius: 3vw;
        border: 0.25vw solid white;

        font-size: 2vw;
    
        box-shadow: 0px 0px 1.5vw 0vw #1d5399;
    }
    
    .frenchdev{
        margin-bottom: 5vw;
    }
    
    .frenchdev img{
        padding-left: 1vw;
    }
    
    .games_container{
        gap: 4vw;
    
        margin-bottom: 5vw;
    }
    
    .game{
        width: 80%;
        height: 16.875vw;
    
        gap: 0.2vw;
    }
    
    .game_presetation{
        width: 60%;
    }
    
    .game_presetation img{
        height: 5vw;
        margin-top: 0.5vw;
        margin-bottom: 2vw;
    }
    
    .game iframe{
        width: 40%;

        border-radius: 2vw;
    }
}


@media only screen and (max-width: 768px) {
    .presentation{
        display: grid;
        gap: 0;
    }

    .presentation_text{
        width: auto;
        box-shadow: none;

        text-align: center;
        font-size:4.5vw;
    }

    .presentation_text p{
        margin-bottom: 0;
    }

    .character_container{
        display: flex;
        justify-content: center;
    }

    .character_container img{
        height: 75vw;
        margin: 5% 0 0 0;
    }

    .choice{
        padding-top: 10vw;
        padding-bottom: 10vw;
        gap: 8vw;
    }
    
    .choice button{
        height: 12vw;
        width: 38vw;
    
        border-radius: 6vw;

        font-size: 4vw;
    }

    .frenchdev{
        font-size: 2.5vw;
        flex-direction: column;
    }
    
    .frenchdev img{
        height: 25vw;
        padding: 0;
    }

    .games_container{
        gap: 0;
    }

    .game{
        width:100%;
        height: auto;

        flex-direction: column-reverse;
        align-items: center;

        gap: 20px;

        border-radius: 0;
    }

    .game iframe{
        width: 90%;
        aspect-ratio: 16 / 9;

        border-radius: 5vw;

        margin-bottom: 8vw;
    }

    .game_presetation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .game_presetation p{
        margin-left: 3vw;
        margin-right: 3vw;
        width: 90%;
    }

    .game_presetation img{
        width: auto;
        height: 15vw;
        max-width: 90%;
        margin-top: 3vw;
    }

    #hellvolution .game_presetation img{
        height: auto;
    }
}